@import "../_variable";
main {
  p {
    color: #787878;
  }

  .good {
    @include flex;
    flex-direction: column;
    .under-text {
      font-family: $font;
      text-align: center;
    }
  }

  .rest_info {
    .two_img {
      img {
        width: 20rem;
        height: 20rem;
      }
    }
    h6 {
      font-family: $fontFamily;
      color: #787878;
      top: 105px;
      z-index: -99;
      font-size: 150px;
    }

    h3 {
      font-size: 80px;
      font-family: $font;
    }
    p {
      font-family: $font;
    }

    h4 {
      color: #787878;
      font-family: $font;
    }
  }

  .stat{
    font-family: $font;
    h3{
        color: #787878;
    }
  }
}

@media screen and (max-width: 480px) {
  main {
    .rest_info {
      h6 {
        top: 60px;
        font-size: 95px;
      }
      h3 {
        font-size: 36px;
      }
    }
  }
}
