@import "../_variable";

img {
  height: 100vh;
  width: 100vw;
}

.socials {
  color: $present;
  letter-spacing: 10px;
}

Card {
  font-family: $font;
}

@media screen and (max-width: 480px) {
  .btn {
    padding: 0.5rem 1rem;
  }
}