@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  *,
  ::before,
  ::after {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

$present: #c8a97e;
$pure: white;
$para: #898989;
$june:#787878;
$font: "Poppins", sans-serif;
$fontFamily: "Great Vibes", cursive;

.bg-image{
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center center;
  background-attachment: fixed;
}
.btn {
  padding: 1rem 1rem;
  border-radius: 9px;
  background-color: $present;
  text-align: center;
  color: $pure;
  &:hover {
    background-color: $present;
    color: $pure;
  }
}